@media (min-width: 760px) {
  .main {
    max-width: 800px;
  }
}
@media (min-width: 992px) {
  .main {
    max-width: 1000px;
  }
}

.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  /*커서 올리면 커서 모양 바꾸기*/
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  position: relative;
}

.search-box {
  border: none;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-60%);
}

.input-icon-box {
  position: relative;
  border-bottom: 3px solid black;
}

.input-box {
  border: none;

  margin-right: 20px;
  padding-left: 20px;
}

.choice {
  font-size: 10px;
}

.new {
  font-size: 11px;
}

.card-img {
  width: 100px;
}

.card-wrap:hover {
  transform: scale(1.1);
}

.card-wrap {
  padding-bottom: 23px;
}

.card-font {
  font-size: 13.5px;
}

.login-border {
  border: 5px solid rgb(184, 181, 181);
  padding: 30px;
}

.select-box-detail {
  width: 200px;
  padding-bottom: 15px;
}

.conscious-choice {
  font-size: 12px;
  padding-bottom: 15px;
}

.price-detail {
  font-size: 17px;
  padding-bottom: 10px;
}

.title-detail {
  font-size: 17px;
  padding-bottom: 10px;
}

.input-box:focus {
  outline: none;
}
